form{
    background-color: lightblue;
    border: 3px solid red;
    margin: 30px 450px 30px 450px;
    padding: 30px;
}
.dangki{
    margin: 5px 4px 5px 2px;
}
.kiemtra{
    margin: 5px;
}    
h1{
    color: red;
}
